################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chat.VC.db
*.dll
*.mdb
*.pdb
*.xml
*.cache
*.txt
*.class
*.nupkg
/packages
